<div class="tasks-block">
	<div class="tasks-block_info">
		<div class="projects-info">
			<div class="projects-info_line"></div>
			<div class="projects-info_text">marketing</div>
			<div class="projects-info_arrow">
				<img src="../img/down-arrow.png" alt="down-arrow">
			</div>
		</div>
	</div>
	
	<div class="tasks-item">
		<div class="task-item">
			<div class="task-item_success">
				<img src="../img/checked-success.png" alt="success">
			</div>
			<div class="task-item_info">
				<span>Create AdWords camping</span>
				<span>22 Feb, 2018</span>
			</div>
			<div class="task-item_avatar">
				<img src="../img/avatar.jpg" alt="avatar">
			</div>
		</div>
		<div class="task-item">
			<div class="task-item_success">
				<img src="../img/checked-success.png" alt="success">
			</div>
			<div class="task-item_info">
				<span>Create AdWords camping</span>
				<span>22 Feb, 2018</span>
			</div>
			<div class="task-item_avatar">
				<img src="../img/avatar.jpg" alt="avatar">
			</div>
		</div>
		<div class="task-item">
			<div class="task-item_success">
				<img src="../img/checked.png" alt="success">
			</div>
			<div class="task-item_info">
				<span>Create AdWords camping</span>
				<span>22 Feb, 2018</span>
			</div>
			<div class="task-item_avatar">
				<img src="../img/avatar.jpg" alt="avatar">
			</div>
		</div>
		<div class="task-item">
			<div class="task-item_success">
				<img src="../img/checked-success.png" alt="success">
			</div>
			<div class="task-item_info">
				<span>Create AdWords camping</span>
				<span>22 Feb, 2018</span>
			</div>
			<div class="task-item_avatar">
				<img src="../img/avatar.jpg" alt="avatar">
			</div>
		</div>
		<div class="task-item">
			<div class="task-item_success">
				<img src="../img/checked-success.png" alt="success">
			</div>
			<div class="task-item_info">
				<span>Create AdWords camping</span>
				<span>22 Feb, 2018</span>
			</div>
			<div class="task-item_avatar">
				<img src="../img/avatar.jpg" alt="avatar">
			</div>
		</div>
		<div class="task-item">
			<div class="task-item_success">
				<img src="../img/checked-success.png" alt="success">
			</div>
			<div class="task-item_info">
				<span>Create AdWords camping</span>
				<span>22 Feb, 2018</span>
			</div>
			<div class="task-item_avatar">
				<img src="../img/avatar.jpg" alt="avatar">
			</div>
		</div>
		<div class="task-item">
			<div class="task-item_success">
				<img src="../img/checked-success.png" alt="success">
			</div>
			<div class="task-item_info">
				<span>Create AdWords camping</span>
				<span>22 Feb, 2018</span>
			</div>
			<div class="task-item_avatar">
				<img src="../img/avatar.jpg" alt="avatar">
			</div>
		</div>
		<div class="task-item">
			<div class="task-item_success">
				<img src="../img/checked-success.png" alt="success">
			</div>
			<div class="task-item_info">
				<span>Create AdWords camping</span>
				<span>22 Feb, 2018</span>
			</div>
			<div class="task-item_avatar">
				<img src="../img/avatar.jpg" alt="avatar">
			</div>
		</div>
	</div>

	<div class="add-task">
		<button class="add-task_btn">Add task</button>
	</div>

</div>